.container {
  width: 1185px;
  margin: 0 auto;
  @media screen and (max-width: 1365px) {
    width: 87%;
  }
  @media (min-width: 320px) and (max-width: 768px) {
    width: 95%;
  }
}
a, button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
  &:hover, &:active, &:focus {
    outline: none;
  }
  &:before, &:after {
    box-sizing: border-box;
  }
}