.lifestyle {
  background: url("../img/lifestyle.png") no-repeat 50% 0%;
  background-size: cover;
  padding-bottom: 30px;
  .flex-ct {
    margin: 0 0 190px;
  }
  .logo-ct {
    display: flex;
    justify-content: flex-end;
    .logo {

    }
  }
}