.slider-ct {
  padding: 50px 0;
  .slider {
    width: 80%;
    margin: 0 auto;
    .single-item {
      height: 260px;
      .slide-left {

      }
      .slide-center {

      }
      .slide-right {

      }
      .big-item {
        //align-self: center;
        //width: 600px;
        //height: 200px;
        opacity: 0;
        transition: 1s;
        margin: 25px 0;
        img {
          width: 217px;
          height: 170px;
          //width: 100%;
          //height: 100%;
          display: block;
          margin: 0 auto;
        }
      }
      .slide-2 {
        //margin: 40px 0;
        //margin: 0;
        //height: 320px!important;
        //height: 170px!important;
        //position: relative;
        //z-index: 1;
        //transform: translateX(157px);
        display: flex;
        justify-content: flex-end;
        .big-item-back {
          width: 130px;
          height: 170px;
          overflow: hidden;
          margin: 40px 0 0;
          img {
            transform: translateX(-70px);
          }
        }
      }
      .slide-1 {
        //position: relative;
        //z-index: 2;
        //height: 290px;
        //transform: translateX(86px);
        //margin: 25px 0;
        //margin: 0;
        display: flex;
        justify-content: flex-end;
        .big-item-back {
          width: 65px;
          height: 200px;
          overflow: hidden;
          margin: 25px 0 0;
          img {
            transform: translateX(-150px);
          }
        }
      }
      .slide-0 {
        //position: relative;
        //z-index: 3;
        //height: 250px!important;
        //transform: translateX(0);
        //margin: 0;
        width: 217px;
        .big-item-back {
          width: 100%;
          height: 250px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .slide-11 {
        //margin: 25px 0;
        //position: relative;
        //z-index: 2;
        //transform: translateX(-86px);
        .big-item-back {
          width: 65px;
          overflow: hidden;
          height: 200px;
          margin: 25px 0 0;
          img {
            transform: translateX(0);
            //position: absolute;
            //top: 25px;
            //right: 0;
          }
        }
      }
      .slide-22 {
        //margin: 40px 0;
        //height: 170px!important;
        //transform: translateX(-157px);
        //position: relative;
        //z-index: 1;
        .big-item-back {
          width: 130px;
          overflow: hidden;
          height: 170px;
          margin: 40px 0 0;
          img {
            transform: translateX(0);
            //position: absolute;
            //top: 40px;
            //right: 0;
          }
        }
      }
      .slide-33 {
        //margin: 40px 0 0;
        //height: 170px!important;
        //transform: translateX(-157px);
        //position: relative;
        //z-index: 0;
        .big-item-back {

        }
      }
      .slick-list {
        padding: 0!important;
      }
      .slick-track {
        display: flex!important;
        justify-content: center;
        //.slick-current {
        //  height: 250px;
        //}
      }
      .slick-active {
        opacity: 1;
      }
    }
    .multiple-items {
      .slick-dots {
        margin: 20px 0 0;
        display: flex;
        justify-content: center;
      }
      .slick-list {
        padding: 0!important;
      }
      .small-item {
        cursor: pointer;
        height: 6vw;
        img {
          width: 100%;
        }
      }
      .slick-arrow {
        position: absolute;
        top: 40%;
        cursor: pointer;
      }
      .slick-prev {
        left: -50px;
      }
      .slick-next {
        right: -50px;
      }
    }
    .dots-ct {
      margin: 20px 0 0;
      .slick-track {
        display: flex!important;
        justify-content: center;
        transform: none!important;
      }
      .dot {
        width: 30px!important;
        svg {
          transition: .3s;
          cursor: pointer;
          fill: gray;
          &:hover {
            fill: red;
          }
        }
      }
      .slick-current {
        svg {
          fill: red;
        }
      }
      .slick-current ~ .dot {
        svg {
          &:hover {
            fill: orange;
          }
        }
      }
    }
  }
}