@font-face {
  font-family: 'SFUIDisplay-Regular';
  src: url("../fonts/SFUIDisplay-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIDisplay-Regular.otf") format("opentype"), url("../fonts/SFUIDisplay-Regular.woff") format("woff"), url("../fonts/SFUIDisplay-Regular.ttf") format("truetype"), url("../fonts/SFUIDisplay-Regular.svg#SFUIDisplay-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SFUIDisplay-Medium';
  src: url("../fonts/SFUIDisplay-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIDisplay-Medium.otf") format("opentype"), url("../fonts/SFUIDisplay-Medium.woff") format("woff"), url("../fonts/SFUIDisplay-Medium.ttf") format("truetype"), url("../fonts/SFUIDisplay-Medium.svg#SFUIDisplay-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SFUIDisplay-Thin';
  src: url("../fonts/SFUIDisplay-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIDisplay-Thin.otf") format("opentype"), url("../fonts/SFUIDisplay-Thin.woff") format("woff"), url("../fonts/SFUIDisplay-Thin.ttf") format("truetype"), url("../fonts/SFUIDisplay-Thin.svg#SFUIDisplay-Thin") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'SFUIDisplay-Light';
  src: url("../fonts/SFUIDisplay-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/SFUIDisplay-Light.otf") format("opentype"), url("../fonts/SFUIDisplay-Light.woff") format("woff"), url("../fonts/SFUIDisplay-Light.ttf") format("truetype"), url("../fonts/SFUIDisplay-Light.svg#SFUIDisplay-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
.container {
  width: 1185px;
  margin: 0 auto; }
  @media screen and (max-width: 1365px) {
    .container {
      width: 87%; } }
  @media (min-width: 320px) and (max-width: 768px) {
    .container {
      width: 95%; } }

a, button {
  cursor: pointer; }

* {
  box-sizing: border-box; }
  *:hover, *:active, *:focus {
    outline: none; }
  *:before, *:after {
    box-sizing: border-box; }

header {
  padding: 11px 0 13px;
  background-color: #ffffff;
  width: 100%;
  transition: 1s; }
  @media (min-width: 320px) and (max-width: 480px) {
    header {
      padding: 0 0 8px; } }
  header .flex-ct {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: 0 auto; }
    @media (min-width: 320px) and (max-width: 768px) {
      header .flex-ct {
        width: 100%; } }
    @media (min-width: 320px) and (max-width: 480px) {
      header .flex-ct {
        width: 75%;
        flex-wrap: wrap;
        margin: 0; } }
  header nav {
    display: flex; }
    @media (min-width: 320px) and (max-width: 768px) {
      header nav {
        display: block;
        width: 35%; } }
    @media (min-width: 320px) and (max-width: 480px) {
      header nav {
        width: 100%;
        order: 3;
        margin: -16px 0 0; } }
  header .toggle-ct {
    align-self: flex-start; }
    @media (min-width: 320px) and (max-width: 480px) {
      header .toggle-ct {
        position: absolute;
        top: 23px;
        right: 10px;
        padding: 0; } }
  header .toggle {
    cursor: pointer;
    border-radius: 50%;
    width: 46px;
    height: 46px;
    position: relative;
    z-index: 2;
    border: 1px solid #cfae6c; }
    header .toggle #nav-icon3 {
      width: 29px;
      height: 29px;
      position: relative;
      margin: 8px 7px;
      -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .5s ease-in-out;
      -o-transition: .5s ease-in-out;
      transition: .5s ease-in-out;
      cursor: pointer; }
      header .toggle #nav-icon3 span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #cfae6c;
        -webkit-border-radius: 9px;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out; }
        header .toggle #nav-icon3 span:nth-child(1) {
          top: 4px; }
        header .toggle #nav-icon3 span:nth-child(2), header .toggle #nav-icon3 span:nth-child(3) {
          top: 11px; }
        header .toggle #nav-icon3 span:nth-child(4) {
          top: 18px; }
    header .toggle #nav-icon3.open span:nth-child(1) {
      top: 18px;
      width: 0%;
      left: 50%; }
    header .toggle #nav-icon3.open span:nth-child(2) {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg); }
    header .toggle #nav-icon3.open span:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    header .toggle #nav-icon3.open span:nth-child(4) {
      top: 18px;
      width: 0%;
      left: 50%; }
  header .toggle-open {
    position: absolute;
    top: 47px;
    left: 7%;
    z-index: 2; }
    @media (min-width: 320px) and (max-width: 480px) {
      header .toggle-open {
        top: -12px;
        left: -48px; } }
  header .multilanguage-btns {
    display: flex;
    transition: 1s;
    align-self: center; }
    @media (min-width: 320px) and (max-width: 480px) {
      header .multilanguage-btns {
        justify-content: flex-end; } }
    header .multilanguage-btns a {
      padding: 5px 7px;
      color: #000000;
      text-decoration: none;
      transition: 1s;
      font-weight: 400;
      font-family: 'SFUIDisplay-Regular', sans-serif; }
      header .multilanguage-btns a:hover {
        color: #d2ab68; }
      @media (min-width: 320px) and (max-width: 480px) {
        header .multilanguage-btns a:first-child {
          padding-left: 0; }
        header .multilanguage-btns a:last-child {
          padding-right: 0; } }
  header .scroll-multilanguage-btns {
    margin: 0;
    transition: 1s; }
  header .logo-ct {
    width: 194px;
    height: 103px;
    overflow: hidden;
    transition: 1s; }
    @media (min-width: 320px) and (max-width: 768px) {
      header .logo-ct {
        position: relative;
        width: 194px;
        height: 65px;
        overflow: hidden; } }
    @media (min-width: 320px) and (max-width: 480px) {
      header .logo-ct {
        order: 1;
        width: 46px;
        height: 75px; } }
    header .logo-ct .logo {
      transition: 1s; }
      @media (min-width: 320px) and (max-width: 768px) {
        header .logo-ct .logo {
          position: absolute;
          width: 100%;
          bottom: -45px;
          left: 0; } }
      @media (min-width: 320px) and (max-width: 480px) {
        header .logo-ct .logo {
          left: 50%;
          width: 194px;
          top: 25px;
          transform: translateX(-50%); } }
  header .scroll-logo-ct {
    position: relative;
    width: 194px;
    height: 65px;
    overflow: hidden; }
    @media (min-width: 320px) and (max-width: 480px) {
      header .scroll-logo-ct {
        width: 46px;
        height: 75px; } }
    header .scroll-logo-ct .scroll-logo {
      position: absolute;
      bottom: -45px;
      left: 0; }
      @media (min-width: 320px) and (max-width: 480px) {
        header .scroll-logo-ct .scroll-logo {
          left: 50%;
          top: 25px; } }
  header .communications {
    transition: 1s;
    align-self: center; }
    @media (min-width: 320px) and (max-width: 768px) {
      header .communications {
        width: 35%; } }
    @media (min-width: 320px) and (max-width: 480px) {
      header .communications {
        width: 64%;
        order: 2; } }
    header .communications .phone-ct {
      display: flex;
      justify-content: flex-end; }
      header .communications .phone-ct .phone {
        transition: 1s;
        margin: 10px 0 20px;
        color: #d3ad69;
        font-family: 'SFUIDisplay-Medium', sans-serif;
        font-size: 14px;
        font-weight: 500; }
        @media (min-width: 320px) and (max-width: 768px) {
          header .communications .phone-ct .phone {
            margin: 0 0 5px; } }
    header .communications .scroll-phone {
      margin: 0 0 5px;
      transition: 1s; }
    header .communications .social-network {
      display: flex;
      justify-content: flex-end; }
      header .communications .social-network a {
        margin: 0 8px; }
        header .communications .social-network a:first-child {
          margin-left: 0; }
        header .communications .social-network a:last-child {
          margin-right: 0; }
        header .communications .social-network a svg {
          fill: #a89879; }
  @media (min-width: 320px) and (max-width: 480px) {
    header .scroll-communications {
      order: 1; } }

.scroll-header {
  padding: 8px 0;
  transition: 1s; }
  @media (min-width: 320px) and (max-width: 480px) {
    .scroll-header {
      padding: 0 0 8px; } }

.top-content {
  background: url("../img/top-content/bg-for-top-content.png") no-repeat 50% 0%;
  background-size: cover;
  height: 788px; }

.pine-tree-coast-template {
  padding: 90px 0 288px; }
  .pine-tree-coast-template .text-ct {
    width: 90%;
    margin: 0 3% 0 7%; }
  .pine-tree-coast-template h2 {
    color: #ffffff;
    font-family: 'SFUIDisplay-Thin', sans-serif;
    font-size: 48px;
    font-weight: 400;
    margin: 0 0 45px;
    line-height: 60px; }
    @media (min-width: 320px) and (max-width: 480px) {
      .pine-tree-coast-template h2 {
        font-size: 30px; } }
  .pine-tree-coast-template .fixed-h2 {
    position: fixed;
    top: 145px;
    width: 84%;
    left: 8%;
    text-align: center; }
  .pine-tree-coast-template .static-h2 {
    position: static; }
  .pine-tree-coast-template p {
    color: #ffffff;
    font-family: 'SFUIDisplay-Light', sans-serif;
    font-size: 14px;
    font-weight: 300;
    width: 85%;
    margin: 0 0 57px;
    line-height: 30px; }
  .pine-tree-coast-template .flex-ct {
    display: flex;
    justify-content: flex-end; }
  .pine-tree-coast-template button {
    border-radius: 30px;
    padding: 15px 40px;
    background-color: transparent;
    box-shadow: 0 0 46px rgba(150, 192, 255, 0.3);
    border: 3px solid #cfae6c;
    color: #efd9ad;
    font-family: 'SFUIDisplay-Light', sans-serif;
    font-size: 14px;
    font-weight: 300;
    transition: .3s; }
    .pine-tree-coast-template button:hover {
      border-radius: 30px 0 30px; }

.status {
  background: url("../img/status.png") no-repeat 50% 0%;
  background-size: cover; }

.company {
  background: url("../img/company.png") no-repeat 50% 0%;
  background-size: cover; }

.lifestyle {
  background: url("../img/lifestyle.png") no-repeat 50% 0%;
  background-size: cover;
  padding-bottom: 30px; }
  .lifestyle .flex-ct {
    margin: 0 0 190px; }
  .lifestyle .logo-ct {
    display: flex;
    justify-content: flex-end; }

.security {
  background: url("../img/security.png") no-repeat 50% 0%;
  background-size: cover; }

.ecology {
  background: url("../img/ecology.png") no-repeat 50% 0%;
  background-size: cover; }

.menu-navigation {
  opacity: 0;
  pointer-events: none;
  transition: 1s;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  height: 100%; }
  .menu-navigation .flex-ct {
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #ccbd9a;
    background-image: linear-gradient(to right, #f0e2c1 0%, #e0c997 100%); }
  .menu-navigation .close-btn {
    opacity: 1;
    position: absolute;
    width: 34px;
    height: 34px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    overflow: hidden;
    border: 1px solid #7e6f50;
    z-index: 4;
    top: 34px;
    left: 0;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    .menu-navigation .close-btn:hover {
      border-color: #deb551; }
      .menu-navigation .close-btn:hover::before {
        background-color: #deb551; }
      .menu-navigation .close-btn:hover::after {
        background-color: #deb551; }
    .menu-navigation .close-btn::before {
      content: '';
      position: absolute;
      top: 16px;
      left: 9px;
      width: 15px;
      height: 1px;
      transition: .3s;
      background-color: #7e6f50;
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    .menu-navigation .close-btn::after {
      content: '';
      position: absolute;
      top: 16px;
      left: 9px;
      width: 15px;
      height: 1px;
      transition: .3s;
      background-color: #7e6f50;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .menu-navigation .left-ct {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 0;
    transition: 1s;
    padding: 27px 0 0;
    background-color: #2e2319; }
    .menu-navigation .left-ct ul {
      align-self: center; }
      .menu-navigation .left-ct ul li a {
        text-decoration: none;
        color: #ecdbb5;
        font-family: 'SFUIDisplay-Regular', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 55px;
        transition: .3s; }
        .menu-navigation .left-ct ul li a:hover {
          color: #deb551; }
      .menu-navigation .left-ct ul li ul {
        position: fixed;
        opacity: 0;
        z-index: 1;
        top: 0;
        right: 0;
        width: 50%;
        height: 0;
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: 1s; }
        .menu-navigation .left-ct ul li ul li {
          align-self: center; }
          .menu-navigation .left-ct ul li ul li a {
            color: #2e2319; }
    .menu-navigation .left-ct .level {
      opacity: 0;
      height: 100%;
      width: 0; }
    .menu-navigation .left-ct .active {
      opacity: 1;
      overflow: hidden;
      position: fixed;
      z-index: 2;
      top: 0;
      left: 50%;
      width: 50%;
      background-color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      transition: 1s; }
      .menu-navigation .left-ct .active li {
        align-self: center; }
        .menu-navigation .left-ct .active li a {
          text-decoration: none;
          font-family: 'SFUIDisplay-Regular', sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 55px;
          transition: .3s;
          color: #2e2319; }
  .menu-navigation .left-ct-tr {
    width: 50%; }
  .menu-navigation .back-ct {
    display: flex;
    position: relative;
    width: 85%; }
  .menu-navigation .center-ct {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, -50%); }
    .menu-navigation .center-ct .content {
      position: relative;
      height: 300px;
      width: 300px;
      border-radius: 20px; }
      .menu-navigation .center-ct .content::before {
        transform-origin: 0% 100%;
        transform: rotate(45deg) translateY(-50%);
        top: 44px;
        left: -9px;
        position: absolute;
        content: '';
        transition: 1s;
        width: 150px;
        height: 150px;
        border-radius: 20px;
        background-image: linear-gradient(to right, #f0e2c1 0%, #e0c997 100%); }
      .menu-navigation .center-ct .content .logo-ct {
        position: relative;
        z-index: 3;
        width: 100%;
        height: 100%;
        display: flex; }
        .menu-navigation .center-ct .content .logo-ct .logo {
          width: 177px;
          height: 94px;
          margin: auto; }
      .menu-navigation .center-ct .content::after {
        width: 100px;
        height: 100px;
        content: '';
        transition: 1s;
        position: absolute;
        transform-origin: 0 50%;
        transform: rotate(45deg) translateY(-50%);
        top: 51px;
        left: 10px;
        border-radius: 15px;
        background-color: #ffffff; }
    .menu-navigation .center-ct .content-tr::before {
      width: 212px;
      height: 212px;
      transform-origin: 0 50%;
      left: 0; }
    .menu-navigation .center-ct .content-tr::after {
      width: 198px;
      height: 198px; }
  .menu-navigation .right-ct {
    display: flex;
    transition: 1s;
    height: 100%;
    width: 0;
    padding: 27px 0 0;
    background-color: #ccbd9a;
    background-image: linear-gradient(to right, #f0e2c1 0%, #e0c997 100%); }
    .menu-navigation .right-ct .back-ct {
      justify-content: flex-end; }
    .menu-navigation .right-ct ul {
      align-self: center;
      transition: 1s; }
      .menu-navigation .right-ct ul li {
        margin: 30px 0;
        cursor: pointer;
        width: 100%;
        transition: .3s; }
        .menu-navigation .right-ct ul li a {
          display: flex;
          width: 100%;
          text-decoration: none; }
        .menu-navigation .right-ct ul li svg {
          align-self: center; }
        .menu-navigation .right-ct ul li span {
          width: 100%;
          border: 1px solid #8c6239;
          border-radius: 30px;
          padding: 18px;
          margin: 0 0 0 20px;
          color: #2e2319;
          font-family: 'SFUIDisplay-Regular', sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 1; }
      .menu-navigation .right-ct ul .li-transform {
        opacity: 0; }
  .menu-navigation .right-ct-tr {
    width: 50%; }
  .menu-navigation .right-ct-transform {
    width: 0;
    overflow: hidden; }

.menu-show {
  opacity: 1; }

/*# sourceMappingURL=style.css.map */
